*{
    margin: 0px;
    font-size: 20px;
    
}
body header nav ul li a{
    color: rgb(75, 114, 255);
}
a{
    text-decoration: none;

}
header{
    color: black;
    border: 1px solid lightgrey;
    padding: 10px;
    max-width: 1200px;
    margin: 20px auto 100px auto;
}
header h1{
    font-size: 30px;
    border-bottom: 5px solid lightgray;
    font-weight: lighter;
    font-style: italic;

}
body header nav{
    text-align: center;
}
header ul{
    list-style:upper-roman;
    margin-top: 5px;
    border-top: 2px solid lightgray;
    border-bottom: center;
    
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 20px;
    display: inline-block;
}
main{
    border: 1px solid;
    background-color: lightgray;
}

footer{
    border: 1px solid;
    padding: 50px;
    text-align: center;
    color: gray;
    font-weight: bold;
}
